@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

:root { /*Declaração de váriaveis*/
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao:  Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1F517';
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 20px;

}

header > h1 {
    color: #fff;
    font-family: var(--fonte-destaque);
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.400);
    font-weight: normal;
}

header > p {
    color: #fff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.400);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
}

nav > a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border-radius: 3px;
    transition-duration: 0.6s;
    line-height: 1.5em;
    margin-top: 5px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);

}

main {
    background-color: #fff;
    max-width: 850px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px #00000031;
    border-radius: 0px 0px 5px 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 3px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-size: 1.6em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
    font-weight: normal;
}

main img{
    width: 100%;
    border-radius: 4px;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video-android {
    background-color: var(--cor4);
    margin: 0px -20px 25px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video-android > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.381);
}

aside h3 {
    background-color: var(--cor4);
    color: #fff;
    margin: -10px -10px 0px -10px; /*Margen negativa cresce o objeto*/
    padding: 7px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside; /*Não compatível com todos os navegadores*/
    columns: 2;
    list-style-type: "\2714\00a0";
}

footer {
    background-color: var(--cor5);
    color: #fff;
    padding: 5px;
    text-align: center;
    box-shadow:0px -2px 7px 1px rgba(0, 0, 0, 0.399);
    font-size: 0.9em;
}

footer a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

footer p > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    text-decoration: underline;
    transition-duration: 0.6s;
}